<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>

<body>

<div id="marker-filters" style="margin-bottom:8px;">
    ${filter_controls_html}
</div>

<div id="kakao-map" style="width:100%;height:${height}px;"></div>

<script
    id="kakao-sdk"
    type="text/javascript"
    src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=${app_key}&autoload=false">
</script>

<script>
(function () {

    function startKakaoMap() {

        if (typeof kakao === "undefined" || !kakao.maps) {
            console.error("Kakao Maps SDK is still unavailable.");
            return;
        }

        console.log("Kakao Maps SDK loaded.");

        kakao.maps.load(function () {

            console.log("Kakao Maps load callback executed.");

            var container = document.getElementById("kakao-map");

            if (!container) {
                console.error("Kakao map container not found.");
                return;
            }

            var options = {
                center: new kakao.maps.LatLng(37.5665, 126.9780),
                level: 7
            };

            var map = new kakao.maps.Map(container, options);

            console.log("Kakao Map created.");

            var markersByType = ${markers_by_type_json};
            var streetLights = ${street_lights_json};

            var markerLayers = {};

            Object.keys(markersByType).forEach(function (type) {

                markerLayers[type] = markersByType[type].map(function (f) {

                    var marker = new kakao.maps.Marker({
                        position: new kakao.maps.LatLng(
                            f.lat,
                            f.lng
                        ),
                        title: f.name
                    });

                    marker.setMap(map);

                    return marker;
                });

            });

            var streetLightMarkers = streetLights.map(function (p) {

                return new kakao.maps.Marker({
                    position: new kakao.maps.LatLng(
                        p.lat,
                        p.lng
                    )
                });

            });

            function toggleType(type, checked) {

                if (type === "가로등") {

                    streetLightMarkers.forEach(function (marker) {
                        marker.setMap(
                            checked ? map : null
                        );
                    });

                    return;
                }

                (markerLayers[type] || []).forEach(function (marker) {

                    marker.setMap(
                        checked ? map : null
                    );

                });
            }

            document
                .querySelectorAll(
                    "#marker-filters input[type=checkbox]"
                )
                .forEach(function (checkbox) {

                    toggleType(
                        checkbox.value,
                        checkbox.checked
                    );

                    checkbox.addEventListener(
                        "change",
                        function () {

                            toggleType(
                                checkbox.value,
                                checkbox.checked
                            );

                        }
                    );

                });

            if (navigator.geolocation) {

                navigator.geolocation.getCurrentPosition(
                    function (pos) {

                        var loc =
                            new kakao.maps.LatLng(
                                pos.coords.latitude,
                                pos.coords.longitude
                            );

                        new kakao.maps.Marker({
                            position: loc,
                            map: map,
                            title: "내 위치"
                        });

                        map.setCenter(loc);

                    },
                    function (error) {

                        console.warn(
                            "현재 위치를 가져오지 못했습니다.",
                            error
                        );

                    }
                );

            }

        });
    }

    var sdk = document.getElementById("kakao-sdk");

    if (sdk) {

        sdk.addEventListener(
            "load",
            function () {

                console.log(
                    "Kakao SDK script load event fired."
                );

                startKakaoMap();

            }
        );

        sdk.addEventListener(
            "error",
            function () {

                console.error(
                    "Kakao SDK script failed to load."
                );

            }
        );

    } else {

        console.error(
            "Kakao SDK script element not found."
        );

    }

})();
</script>

</body>
</html>
